In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'../data/Fraud.csv')

In [3]:
df.loc[df.nameDest.str.startswith("C")].isFraud.value_counts()

0    4202912
1       8213
Name: isFraud, dtype: int64

In [4]:
df.loc[df.nameDest.str.startswith("M")].isFraud.value_counts()

0    2151495
Name: isFraud, dtype: int64

In [5]:
df.isFlaggedFraud.value_counts()
df.isFraud.value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [6]:
df.loc[df.nameDest.str.startswith("M")].isFlaggedFraud.value_counts()

0    2151495
Name: isFlaggedFraud, dtype: int64

In [7]:
df.loc[df.isFlaggedFraud == 1].isFraud.value_counts()

1    16
Name: isFraud, dtype: int64

In [8]:
df.loc[df.isFraud == 1].isFlaggedFraud.value_counts()

0    8197
1      16
Name: isFlaggedFraud, dtype: int64

In [59]:
df.loc[df.isFraud == 0].nameDest.value_counts().sort_values().index[2710000]

'C54400544'

In [44]:
df.loc[df.nameDest == 'C248609774']

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CorM
48,1,CASH_OUT,5346.89,C512549200,0.00,0.00,C248609774,652637.00,6453430.91,0,0,C
197,1,CASH_OUT,82691.56,C1620409359,0.00,0.00,C248609774,657983.89,6453430.91,0,0,C
372,1,TRANSFER,438437.09,C977160959,0.00,0.00,C248609774,740675.45,6453430.91,0,0,C
383,1,TRANSFER,955855.00,C94830685,0.00,0.00,C248609774,1179112.54,6453430.91,0,0,C
802,1,TRANSFER,969631.31,C2144067911,0.00,0.00,C248609774,2134967.54,6453430.91,0,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...
4476709,324,CASH_IN,281867.16,C1483653893,4165861.47,4447728.63,C248609774,26726346.35,26444479.20,0,0,C
4748477,333,TRANSFER,707741.52,C1489120585,0.00,0.00,C248609774,26444479.20,27152220.72,0,0,C
5118049,356,CASH_IN,20470.18,C211118418,55073.00,75543.18,C248609774,27152220.72,27131750.54,0,0,C
5404769,377,CASH_IN,173399.60,C1684616792,11112856.30,11286255.90,C248609774,27131750.54,26958350.93,0,0,C
5419581,378,CASH_IN,487543.41,C465603210,2166125.11,2653668.52,C248609774,26958350.93,26470807.52,0,0,C

In [10]:
744/24

31.0

In [11]:
df.loc[df.nameDest.str.startswith("C"), 'CorM'] = 'C'

In [12]:
df.loc[df.nameDest.str.startswith("M"), 'CorM'] = 'M'

In [13]:
df.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CorM
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0,M
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0,M
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0,C
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0,C
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0,M
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0,M
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0,M
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0,M
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0,M
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0,C

In [20]:
df.groupby(by='CorM').isFraud.agg('sum')

CorM
C    8213
M       0
Name: isFraud, dtype: int64

In [24]:
df.loc[(df.isFraud == 1) & (df.type == "CASH_OUT")].amount.max()

10000000.0

In [26]:
df.loc[(df.isFlaggedFraud == 0)].sort_values(by='amount', ascending=False)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CorM
3686583,276,TRANSFER,92445516.64,C1715283297,0.0,0.0,C439737079,9.595980e+03,9.245511e+07,0,0,C
4060598,300,TRANSFER,73823490.36,C2127282686,0.0,0.0,C753026640,9.362401e+07,1.674475e+08,0,0,C
4146397,303,TRANSFER,71172480.42,C2044643633,0.0,0.0,C84111522,1.134615e+08,1.846340e+08,0,0,C
3946920,286,TRANSFER,69886731.30,C1425667947,0.0,0.0,C167875008,1.515387e+08,2.214254e+08,0,0,C
3911956,284,TRANSFER,69337316.27,C1584456031,0.0,0.0,C1472140329,1.130072e+08,1.823446e+08,0,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...
6281485,646,CASH_OUT,0.00,C1997645312,0.0,0.0,C601248796,0.000000e+00,0.000000e+00,1,0,C
6362463,730,CASH_OUT,0.00,C2088151490,0.0,0.0,C1156763710,0.000000e+00,0.000000e+00,1,0,C
6205440,586,CASH_OUT,0.00,C1303719003,0.0,0.0,C900608348,1.328473e+06,1.328473e+06,1,0,C
3760289,279,CASH_OUT,0.00,C539112012,0.0,0.0,C1106468520,5.385476e+05,5.385476e+05,1,0,C
5996410,425,CASH_OUT,0.00,C69493310,0.0,0.0,C719711728,2.921531e+06,2.921531e+06,1,0,C

In [32]:
df.loc[(df.isFraud == 1)].sort_values(by='amount', ascending=False)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CorM
3760283,279,CASH_OUT,10000000.0,C1214015158,10000000.00,0.00,C2110157840,0.00,10000000.00,1,0,C
5987587,409,CASH_OUT,10000000.0,C97242201,10000000.00,0.00,C786701128,8496.86,10008496.86,1,0,C
1707592,160,CASH_OUT,10000000.0,C525906402,10000000.00,0.00,C43869769,2145275.47,12145275.47,1,0,C
1707591,160,TRANSFER,10000000.0,C752627210,27670038.08,17670038.08,C1853789265,0.00,0.00,1,0,C
1707590,160,CASH_OUT,10000000.0,C2068007279,10000000.00,0.00,C836488544,158643.25,10158643.25,1,0,C
...,...,...,...,...,...,...,...,...,...,...,...,...
5996410,425,CASH_OUT,0.0,C69493310,0.00,0.00,C719711728,2921531.34,2921531.34,1,0,C
5996408,425,CASH_OUT,0.0,C832555372,0.00,0.00,C1462759334,76759.90,76759.90,1,0,C
6362461,730,CASH_OUT,0.0,C729003789,0.00,0.00,C1388096959,1008609.53,1008609.53,1,0,C
6362463,730,CASH_OUT,0.0,C2088151490,0.00,0.00,C1156763710,0.00,0.00,1,0,C
3760289,279,CASH_OUT,0.0,C539112012,0.00,0.00,C1106468520,538547.63,538547.63,1,0,C

In [37]:
df.loc[df.isFraud == 1].nameDest.value_counts().sort_values(ascending=False).head(20)

C1193568854    2
C1399829166    2
C1980653895    2
C1460854172    2
C964377943     2
C686334805     2
C1656842502    2
C967226405     2
C1780714769    2
C385133759     2
C1650668671    2
C185805228     2
C475338087     2
C1981613973    2
C643624257     2
C1259079602    2
C410033330     2
C105660024     2
C1827800010    2
C650699445     2
Name: nameDest, dtype: int64

In [42]:
df.loc[df.nameDest == 'C1399829166']

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CorM
267178,15,CASH_IN,209466.03,C1322020137,58500.00,267966.03,C1399829166,0.00,0.00,0,0,C
450071,19,CASH_OUT,130199.97,C793691431,642410.41,512210.44,C1399829166,0.00,130199.97,0,0,C
574752,25,CASH_OUT,93249.37,C1199923520,0.00,0.00,C1399829166,130199.97,223449.34,0,0,C
637939,35,CASH_IN,205053.56,C273083085,4135128.59,4340182.15,C1399829166,223449.34,18395.78,0,0,C
693110,36,CASH_IN,15836.76,C943076972,2365603.18,2381439.94,C1399829166,18395.78,2559.02,0,0,C
906533,43,CASH_OUT,32851.60,C1747186080,30431.00,0.00,C1399829166,2559.02,35410.62,0,0,C
1519503,153,CASH_OUT,21993.86,C1603486631,11330.00,0.00,C1399829166,35410.62,57404.49,0,0,C
1732982,161,CASH_OUT,42632.13,C975370822,23694.29,0.00,C1399829166,57404.49,100036.62,0,0,C
1946639,177,TRANSFER,315297.90,C87157073,20875.00,0.00,C1399829166,100036.62,415334.52,0,0,C
2043826,181,CASH_OUT,243138.07,C425512193,0.00,0.00,C1399829166,415334.52,658472.58,0,0,C
2120857,183,CASH_IN,56299.53,C903122448,564511.66,620811.19,C1399829166,658472.58,602173.05,0,0,C
2261158,187,TRANSFER,2592067.00,C737040340,16867.00,0.00,C1399829166,602173.05,3194240.05,0,0,C
2540662,206,TRANSFER,989089.03,C186801356,0.00,0.00,C1399829166,3194240.05,4183329.08,0,0,C
2575303,207,TRANSFER,87951.49,C33412653,403982.93,316031.44,C1399829166,4183329.08,4271280.57,0,0,C
2726959,212,CASH_OUT,555574.92,C857225298,555574.92,0.00,C1399829166,4271280.57,4826855.50,1,0,C
2804345,225,CASH_IN,61875.35,C1118136405,10024922.16,10086797.51,C1399829166,4826855.50,4764980.14,0,0,C
3538803,260,CASH_OUT,215319.21,C1839598664,0.00,0.00,C1399829166,4764980.14,4980299.35,0,0,C
3733733,278,CASH_OUT,352597.87,C1980922986,0.00,0.00,C1399829166,4980299.35,5332897.23,0,0,C
3807983,281,CASH_IN,85423.08,C381265982,6982508.49,7067931.57,C1399829166,5332897.23,5247474.14,0,0,C
4026380,299,CASH_OUT,24944.49,C276094288,5966.00,0.00,C1399829166,5247474.14,5272418.64,0,0,C
4213689,305,CASH_OUT,226500.85,C148217503,0.00,0.00,C1399829166,5272418.64,5498919.48,0,0,C
4388551,314,CASH_OUT,2984434.36,C1499429209,2984434.36,0.00,C1399829166,5498919.48,8483353.84,1,0,C
4845463,347,CASH_OUT,21470.81,C340402680,55254.00,33783.19,C1399829166,8483353.84,8504824.65,0,0,C
5282836,372,CASH_IN,223024.38,C665027587,22215.00,245239.38,C1399829166,8504824.65,8281800.27,0,0,C
5472163,379,CASH_OUT,44985.44,C187706414,9181.47,0.00,C1399829166,8281800.27,8326785.70,0,0,C